@media (max-width: 885px) {

    .conteudo-principal .container-carrossel .seta-voltar,
    .conteudo-principal .container-carrossel .seta-proximo {
        top: 50%;
    }

    .anime-list {
        padding: 47px 35px 0 35px;
        box-shadow: 0px -78px 131px 25px rgba(0, 0, 0, 0.79);
        -webkit-box-shadow: 0px -78px 131px 25px rgba(0, 0, 0, 0.79);
        -moz-box-shadow: 0px -78px 131px 25px rgba(0, 0, 0, 0.79);
    }

    .conteudo-principal .seta-voltar-lista,
    .conteudo-principal .seta-proximo-lista {
        top: 50%;
    }

    .conteudo-principal .seta-proximo-lista {
        left: 96%;
    }

}

@media (max-width: 835px) {

    .conteudo-principal .container-carrossel .slide {
        display: none;
    }

    .conteudo-principal .container-carrossel .slide-mobile {
        display: flex;
    }

    .anime-list {
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: none;
        padding: 60px 20px;
    }

    .conteudo-principal .seta-voltar-lista,
    .conteudo-principal .seta-proximo-lista {
        display: none;
    }

}

@media (max-width: 770px) {

    .conteudo-principal .container-carrossel .slide-mobile .imagem-principal {
        object-fit: cover;
    }

    .conteudo-principal .container-carrossel .seta-voltar,
    .conteudo-principal .container-carrossel .seta-proximo {
        left: 5%;
    }

    .conteudo-principal .container-carrossel .seta-proximo {
        left: 92%;
    }

}

@media (max-width: 500px) {

    .header {
        padding: 0 30px 0 40px;
        background-color: var(--dark-transparent-bg);
        transition: background-color 0.5s ease;
    }

    .header .nome-do-site h1 {
        display: none;
    }

    .header .nome-do-site h2 {
        display: block;
        width: 35px;
        font-size: 2.5rem;
    }

    .conteudo-principal .container-carrossel .slide-mobile {
        height: 85vh;
    }

    .conteudo-principal .container-carrossel .slide-mobile .imagem-principal {
        object-fit: cover;
    }

    .conteudo-principal .container-carrossel .seta-voltar,
    .conteudo-principal .container-carrossel .seta-proximo {
        display: none;
    }

    .marcadores-container {
        display: none;
    }

}